# dependencies
node_modules

# testing
/coverage

# production
build
bin

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*

nodetable
nodes
node-crawler-backend.exe
node-crawler-backend

yarn.lock